spec/fixtures/xsd/shipment.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://xlogics.eu/blackbox" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xlogics.eu/blackbox" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Authentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Culture" type="xs:string" />
        <xs:element name="UnitName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintParcelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="InputParameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ShippingParameter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Value" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>